<template>
    <div class="row">
         This is an about page
    </div>
</template>

<script>

    export default {
        components: {
        },
        data() {
            return {
                isComponentModalActive: true,
                products: [
                    {
                        id: '1',
                        name: 'BeatsEP',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '2',
                        name: 'testing2',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '3',
                        name: 'testing3',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '4',
                        name: 'testing3',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '5',
                        name: 'testing3',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '6',
                        name: 'testing',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '7',
                        name: 'testing2',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                    {
                        id: '8',
                        name: 'testing3',
                        price: '10',
                        src: 'beatsEP.jpg'
                    },
                ]
            }
        },
        methods: {
            goToProductPage(productId){
                this.$router.push('/products/' + productId)
            }
        }
    }
</script>


<style scoped src="../assets/css/ProductListCards.css" >




</style>