<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Product</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Name">
                    <b-input
                            type="name"
                            :value="name"
                            placeholder="Product name"
                            required>
                    </b-input>
                </b-field>

                <b-field label="Product Description">
                    <b-input
                            placeholder="Description"
                            required>
                    </b-input>
                </b-field>

                <b-field label="Product price">
                    <b-input
                            placeholder="100"
                            type="price"
                            required>
                    </b-input>
                </b-field>

                <input  type="file" @change="onFileSelected"
                ref="fileInput"/>
                <button @click="$refs.fileInput.click()">Pick file</button>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button class="button is-primary" @click="onUpload">Register</button>
            </footer>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AddPordcut",
        data () {
            return {
                selectedFile: null
            }
        },
        methods: {
            onFileSelected(event) {
                this.selectedFile = event.target.files[0]
            },
            onUpload() {

            }
        }
    }
</script>

<style scoped>

</style>