<template>
    <div class="row">
        <div class="col-25">
            <div class="container">
                <h4>Cart
                    <span class="price" style="color:black">
          <em class="fa fa-shopping-cart"></em>
        </span>
                </h4>
                <p><a >Product 1</a> <span class="price">$15</span></p>
                <p><a >Product 2</a> <span class="price">$5</span></p>
                <p><a >Product 3</a> <span class="price">$8</span></p>
                <p><a >Product 4</a> <span class="price">$2</span></p>
                <p><a >Product 4</a> <span class="price">$2</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><strong>$30</strong></span></p>
            </div>
        </div>


        <div class="col-75">
            <div class="container">
                <form>

                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><em class="fa fa-user"></em> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Tim Chermin">
                            <label for="email"><em class="fa fa-envelope"></em> Email</label>
                            <input type="text" id="email" name="email" placeholder="Tim@hotmail.com">
                            <label for="adr"><em class="fas fa-address-card"></em> Address</label>
                            <input type="text" id="adr" name="address" placeholder="Rachelsmolen 1">
                            <label for="city"><em class="fas fa-city"></em> City</label>
                            <input type="text" id="city" name="city" placeholder="Eindhoven">
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Payment Methods</label>
                            <div class="icon-container">
                                <em class="fab fa-cc-visa" style="color:navy;"></em>
                                <em class="fab fa-cc-amex" style="color:blue;"></em>
                                <em class="fab fa-cc-mastercard" style="color:red;"></em>
                                <em class="fab fa-cc-discover" style="color:orange;"></em>
                                <em class="fab fa-ideal" style="color: hotpink"></em>
                                <em class="fab fa-paypal" style="color: cornflowerblue"></em>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="Tim Chermin">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="February">
                        </div>

                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input type="submit" value="Continue" class="btn">
                </form>
            </div>
        </div>


    </div>
</template>



<style scoped src="../assets/css/Checkout.css">


</style>