<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Login</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Email">
                    <b-input
                            type="email"
                            :value="email"
                            placeholder="Your email"
                            required>
                    </b-input>
                </b-field>

                <b-field label="Password">
                    <b-input
                            type="password"
                            :value="password"
                            password-reveal
                            placeholder="Your password"
                            required>
                    </b-input>
                </b-field>

                <b-checkbox>Remember me</b-checkbox>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button class="button is-primary" @click="login">Login</button>
            </footer>
        </div>
    </form>
</template>


<script>
    //import Products from './components/Products.vue'


    export default {
        data() {
            return {
                loggedin: false
            }
        },
        methods: {
            login(){
                return this.loggedIn = true;
            }

        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 650px) {

    }
</style>