<template>
    <div class="holder">
      <section>
        <b-carousel class="carousel">
        <b-carousel-item v-for="(item, i) in items" :key="i" >
            <span>
                <img class="carousel-image" v-on:click="goToProductPage(1)" :src="require(`../assets/images/banners/${items[i].image}`)" alt="Images not found">
            </span>
        </b-carousel-item>
        </b-carousel>
      </section>

      <div>
        <b-input type="text" v-model="search" placeholder="search products" />
      </div>

      <div class="row">
        <div v-for="product in filteredProducts" v-bind:key="product.id">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img :src="require(`../assets/images/products/${product.src}`)" v-on:click="goToProductPage(product.id)"  alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img :src="require(`../assets/images/products/${product.src}`)" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4" v-on:click="goToProductPage(product.id)">{{product.name}}</p>
                    <p class="subtitle is-6">@{{product.name}}</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@{{product.name}}</a>.
                </div>
                <div class="product-price">
                  <span>€{{product.price}} </span>
                  <button class="button is-success" v-on:click="goToProductPage(product.id)">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



     <!-- <div>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(addProduct)">
            <ValidationProvider rules="min:5" v-slot="{ errors }">
              <label>
                <input v-model="product" type="text" placeholder="Add product">
              </label>
              <span>{{ errors[0]}}</span>
            </ValidationProvider>
          </form>
        </ValidationObserver>
      </div>


      <p>These are all the products</p>
      <ul>
        <li v-for="(data, index) in products" :key="index"> <router-link to="/products/1">{{data.product}}</router-link> </li>
      </ul>

      <p v-if="products.length > 1">You have more than 1 product</p>
      <p v-else>You have less then 1 product</p>-->

    </div>


</template>

<script>
export default {
  name: 'Products',
  validField: false,
  data() {
    return {
      search: '',
      arrow: true,
      arrowHover: true,
      drag: true,
      gray: true,
      opacity: false,
      values: 1,
      perList: 1,
      repeat: true,
      items: [
        {
          title: 'Slide 1',
          image: 'banner1.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 2',
          image: 'banner3.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 3',
          image: 'banner1.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 4',
          image: 'banner3.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 5',
          image: 'banner1.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 6',
          image: 'banner1.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 7',
          image: 'banner1.jpg',
          routing: 'productinformation'
        },
        {
          title: 'Slide 8',
          image: 'banner1.jpg',
          routing: 'productinformation'
        }
      ],
      products: [
        {
          id: '1',
          name: 'BeatsEP',
          price: '15',
          src: 'beatsEP.jpg'
        },
        {
          id: '2',
          name: 'Philips Curvo Monitor',
          price: '30',
          src: 'PhilipsCurvoMonitor.jpg'
        },
        {
          id: '3',
          name: 'Risk The Game of Global Domination',
          price: '2',
          src: 'Risk.jpg'
        },
        {
          id: '4',
          name: 'Curvo Monitor Philips',
          price: '200',
          src: 'PhilipsCurvoMonitor.jpg'
        },
        {
          id: '5',
          name: 'testing3',
          price: '399',
          src: 'beatsEP.jpg'
        },
        {
          id: '6',
          name: 'Risk',
          price: '299',
          src: 'Risk.jpg'
        },
        {
          id: '7',
          name: 'testing2',
          price: '100.99',
          src: 'beatsEP.jpg'
        },
        {
          id: '8',
          name: 'Curvo Monitor',
          price: '299,99',
          src: 'PhilipsCurvoMonitor.jpg'
        },
      ]

      /*product: '',*/
      /*products: [
        { "product": "Books"},
        //{ "product": "Stuff"},
      ]*/
    }
  },
  methods: {
    /*addProduct() {
      this.products.push({product: this.product});
      this.product = '';
    },*/
    goToProductPage(productId){
      this.$router.push('/products/' + productId)
    }
  },
  computed: {
    filteredProducts: function(){
      return this.products.filter((product) => {
        return product.name.toLowerCase().match(this.search.toLowerCase());
      });
    }
  }
}
import { extend } from 'vee-validate';

extend('min', {
  validate(value, args) {
    if (value.length >= args.length){
      return true;
    }
    return "This field must have " + args.length + " or more symbols";
  },
  params: ['length']
});

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- <style src="./Products.css" scoped> -->
<style scoped src="../assets/css/ProductListCards.css">

</style>
