<template>
    <main class="container">

        <!-- Left Column / Image -->
        <div class="left-column">
            <img src="../assets/images/products/PhilipsCurvoMonitor.jpg" alt="image not found">
        </div>


        <div class="right-column">
            <div class="product-description">
                <span class="span">Headphones</span>
                <div class="striped-top"></div>
                <h1 class="h1">Beats EP</h1>
                <p>Wireless Headphones. JBL Bluetooth true wireless headphones, including earbuds, earphones and in-ear headphones that allow you to enjoy your streaming music with wireless headphones</p>
                <p>Product Id is {{ $route.params.productId }}</p>
            </div>

            <div class="product-price">
                <span>€100 </span>
                <router-link to="/order">
                    <button class="button is-success">Add to cart</button>
                </router-link>
            </div>
        </div>
    </main>
</template>

<script>
    export default {

    }
</script>

<style scoped src="../assets/css/productinformation.css">

</style>