<template>
    <section>

        <div class="panel-heading">
            <strong> All Products</strong></div>
        <div class="row">
            <div class="search-wrapper panel-heading col-sm-12">
                <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
            </div>
        </div>
        <div class="table-responsive">
            <table v-if="resources.length" class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date added</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in resultQuery" :key="item.id">
                    <b-table-column field="id" label="ID" width="40" numeric>
                        {{ item.id }}
                    </b-table-column>
                    <b-table-column field="name" label="Name">
                        {{ item.name }}
                    </b-table-column>
                    <b-table-column field="date" label="Date" centered>
                        {{ item.date }}
                    </b-table-column>


                   <!-- <td><a v-bind:href="item.uri" target="_blank">{{item.id}}</a></td>-->
                </tr>
                </tbody>
            </table>
        </div>

    </section>
</template>


<script>
export default {
    data() {
        return {
            searchQuery: null,
            resources:[
                {id: 1, name: 'Headset', date: '2016/4/15'},
                {id: 2, name: 'Book', date: '2016/2/15'},
                {id: 3, name: 'Another book', date: '2011/10/15'},
                {id: 4, name: 'Toy', date: '2020/01/15'},
                {id: 5, name: 'Computer', date: '2016/10/15'},
            ]
        };
    },
    computed: {
        resultQuery(){
            if(this.searchQuery){
                return this.resources.filter((item)=>{
                    return this.searchQuery.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
                })
            }else{
                return this.resources;
            }
        }
    }
}
</script>