<template>
  <div id="app">
    <b-navbar class="shadow">
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
            Tol.com
          <!--<img
                  src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
                  alt="Lightweight UI components for Vue.js based on Bulma"
          >-->
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          Home
        </b-navbar-item>

        <b-navbar-item tag="router-link" :to="{ path: '/about' }">
          About
        </b-navbar-item>

        <b-navbar-dropdown label="Info">
          <b-navbar-item tag="router-link" :to="{ path: '/productList' }">
            Products
          </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/about' }">
            Contact
          </b-navbar-item>
        </b-navbar-dropdown>

        <form class="navbar-item" @submit.prevent=""> <b-input type="text" placeholder="Search"/></form>
      </template>

      <template slot="end">
          <b-navbar-item tag="div">
              <h1>{{msg}}</h1>


              <b-dropdown aria-role="list">
                  <button class="button is-primary" type="button" slot="trigger">
                      <template>
                          <span>Shopping cart</span>
                      </template>
                      <i icon="fas fa-shopping-cart"></i>
                      <b-icon icon="fas fa-shopping-cart"/>
                  </button>

                  <b-dropdown-item aria-role="listitem">
                      <div class="media">
                          <b-icon class="media-left" icon="earth"/>
                          <div class="media-content">
                              <h3>Products in cart</h3>
                              <ul>
                                  <li v-for="(data, index) in products" :key="index"> <router-link to="/products/1">{{data.product}}</router-link> </li>
                              </ul>
                              <router-link to="/order">
                                <a class="button is-success">Checkout</a>
                              </router-link>
                          </div>
                      </div>
                  </b-dropdown-item>
              </b-dropdown>
          </b-navbar-item>

        <b-navbar-item tag="div">
          <div class="buttons" >
              <span v-if="!loggedIn">
                <router-link to="/register">
                <a class="button is-success" >
                  <strong>Sign up</strong>
                </a>
                </router-link>




                <router-link to="/login">
                <a class="button is-light">
                  Log in
                </a>
                </router-link>
              </span>
              <span v-else>
                  <router-link to="/">
                <a class="button is-danger" @click="logout">
                  <strong>Logout</strong>
                </a>
                </router-link>
              </span>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
      <!--keep this for other pages-->
    <router-view/>
  </div>
</template>


<script>
//import Products from './components/Products.vue'

export default {
    name: 'Products',
    validField: false,
    loggedIn: false,
    components: {

    },
    data() {
        return {
            isComponentModalActive: false,
            product: '',
            products: [
                { "product": "Books"},
                { "product": "Stuff"},
            ],
            loggedIn: false
        }
    },
    methods: {
        logout(){
            return this.loggedIn = false;
        }

    }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
  .shadow{
    box-shadow: 0 5px 15px rgba(136, 136, 136, 0.33);
  }

</style>
