/* Product Price */
.product-price {
    display: flex;
    align-items: center;
    position:absolute;
    bottom:1%;
    right:7%;
}

.product-price span {
    font-size: 200%;
    font-weight: 300;
    color: red;
    margin-right: 5%;
    margin-bottom: 3%;
}

.content{
    width: 125%;
    margin-left: -13%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 10px 10px;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card-image{
    display: block;
    position: relative;
    width: 110%;
    margin-left: -5%;
    margin-top: -5%;
}

.media{
    margin-left: -6%;
    width: 115%;
}




@media screen and (min-width: 2190px) {
    .column {
        float: left;
        width: 20%;
        padding: 10px 10px;
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        min-height: 640px;
    }

}


@media screen and (max-width: 1600px) {
    .column {
        float: left;
        width: 25%;
        padding: 10px 10px;
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        min-height: 600px;
    }
}



/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1250px) {
    /*started at 600px*/
    .column {
        width: 33%;
        margin-bottom: 20px;
        float: left;
        padding: 10px 10px;
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        min-height: 600px;
    }

    .content{
        width: 100%;
        margin-left: 1%;
    }

    .card{
        min-height: 550px;
    }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1010px) {
    /*started at 600px*/
    .column {
        width: 50%;
        margin-bottom: 20px;
        float: left;
        padding: 10px 10px;
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        min-height: 650px;
    }
}

@media screen and (max-width: 740px) {
    /*started at 600px*/
    .column {
        width: 100%;
        margin-bottom: 20px;
        float: left;
        padding: 10px 40px;
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        min-height: 650px;
    }
}



.carousel-image{
    width: 100%;
    max-height: 360px;
    object-fit: contain;
}

.carousel{
    width: auto;
    height: auto;
    max-height: 360px;
}

.holder {
    background: #fff;
}