/* Columns */
.left-column {
    width: 50%;
    position: relative;
}

.right-column {
    margin-left: 5%;
    padding: 2%;
    width: 40%;
    margin-top: 60px;
    border: 2px solid grey;
    border-radius: 50px;
}

/* Left Column */
.left-column img {
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.container {
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    padding: 1%;
    display: flex;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
    position:absolute;
    bottom:5%;
    right:9%;
}

.product-price span {
    font-size: 200%;
    font-weight: 300;
    color: red;
    margin-right: 5%;
    margin-bottom: 3%;
}

.h1{
    font-size: 350%;
    margin-left: -1%;
}

.span{
    color: #3EB3F6;
    font-size: 150%;
    text-align: center;
}

.striped-top{
    border-top: solid grey 1px;
    margin-left: -6%;
    margin-right: -6%;
    margin-top: 1%;
}

/* Responsive */
@media (max-width: 810px) {
    .container {
        padding: 1%;
        display: flex;
    }

    /* Columns */
    .left-column {
        width: 50%;
        position: relative;
    }

    .right-column {
        margin-left: 5%;
        padding: 2%;
        width: 40%;
        height: 420px;
        margin-top: 60px;
        border: 2px solid grey;
        border-radius: 50px;
    }

    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }

    .striped-top{
        border-top: solid grey 1px;
        margin-left: -2%;
        margin-right: -2%;
    }

    .span{
        color: #3EB3F6;
        font-size: 100%;
        text-align: center;
    }

    .product-price span {
        font-size: 200%;
        font-weight: 300;
        color: red;
        margin-right: 1%;
        margin-bottom: 1%;
    }
}

/* Responsive */
@media (max-width: 612px) {
    .container {
        padding: 1%;
        display: inline-block;
    }

    /* Columns */
    .left-column {
        width: 100%;
        position: relative;
    }

    .right-column {
        margin-left: 5%;
        padding: 2%;
        width: 90%;
        height: 300px;
        margin-top: 60px;
        border: 2px solid grey;
        border-radius: 50px;
    }

    .left-column img {
        width: 65%;
        margin-left: 22%;
        right: 0;
        top: -65px;
        left: initial;
    }

    .striped-top{
        border-top: solid grey 1px;
        margin-left: -2%;
        margin-right: -2%;
    }

    .span{
        color: #3EB3F6;
        font-size: 100%;
        text-align: center;
        margin-left: 10px;
    }

    .product-price span {
        font-size: 200%;
        font-weight: 300;
        color: red;
        margin-right: 1%;
        margin-bottom: 1%;
    }
}
